<p>
  <h4 class="collectionTitle"><%= @collection.title %></h4>
  <h4 class="hitems"><% @collection.items.each do |item| %></h4>
    <h4 class="item" data-id"<%= item.id %>"><%= link_to "#{item.brand} #{item.name}", collection_item_path(item.collection_id, item.id) %></h4>
  <% end %>
</p>

<p class="item-json" data-id="<%= @collection.id %>">
</p>

<p>
  <%= link_to new_collection_item_path(collection_id: @collection.id), {class: "btn btn-default btn-lg"}, :method => :get do %>
      <span class="glyphicon glyphicon-plus"></span> Add Item
  <% end %>
</p>

<p>
  <a href="javascript:void(0)" class="js-next" data-id="<%= @collection.id %>">Next Collection </a>
</p>

<p>
  <%= link_to 'Back to Collections', collections_path %>
</p>

<p>
  <%= link_to 'Delete Collection', collection_path(@collection.id), method: :delete, data: { confirm: 'Are you sure you want to delete this collection?' } %>
</p>

<script type="text/javascript" charset="utf-8">
$(document).ready(function () {
  $(".item").on("click", function() {
    var collectionId = parseInt($(".js-next").attr("data-id"));
    var itemDetails = "" 
    $.get("/collections/" + collectionId + ".json", function(data) {
      var attr = data["items"]
      var itemDescription = attr["description"]
      var itemPurchaseDate = attr["purchase_date"]
      var itemCost = attr["cost"]
      // debugger;
      itemDetails += itemDescription + itemPurchaseDate + itemCost
    })
    $(".item-json").html(itemDetails);
  })

  $(".js-next").on("click", function() {
    $(".item").hide();
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/collections/" + nextId + ".json", function(data) {
      $(".collectionTitle").text(data["title"]);
      var clxItems = ""
      for (i = 0; i < data["items"].length; i++) {
        var obj = data["items"][i];
        var itemId = obj["id"];
        var itemTitle = obj["name"];
        var itemBrand = obj["brand"];
        clxItems += "<h4><a href=" + nextId + "/items/" + obj.id + "'>" + " " + obj.brand + " " + obj.name + "</h4></a>";
      }
      $(".hitems").html(clxItems);
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});  
</script>




