<h2>Create a New Item</h2>

<% if @item.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@item.errors.count, "error") %>
      prohibited this item from being saved:
    </h2>

    <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<p>
  <%= form_for([@collection, @item], :url => collection_items_path) do |f| %>
  <%= render partial: 'form', :locals => {:f => f} %>
  <%= f.submit "Create Item", :class => "btn btn-default btn-med" %>
  <% end %>
</p>

<div>
  <h2 id="itemName"></h2>
  <p id="itemBody"></p>
</div>

<div id="testing"></div>

<p>
  <%= link_to 'Go back', root_path %>
</p>


<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      event.preventDefault();
      var y = $('form').serializeArray();
      var brand = y[2]["value"];
      var name = y[3]["value"];
      var description = y[4]["value"];
      var cost = y[5]["value"];
      var purchase_date = y[6]["value"];
      var x = JSON.stringify( $('form').serializeArray() ); // json object?
      var obj = new Item(brand, name, description, cost, purchase_date);
      $("#itemName").text("You just added: " + obj["brand"] + " " + obj["name"]);
      $("#itemBody").text(obj["description"]);
      var values = $(this).serialize();
      var posting = $.post(this["action"], values);
    });
  });

  function Item(brand, name, description, cost, purchase_date) {
    this.brand = brand;
    this.name = name;
    this.description = description;
    this.cost = cost;
    this.purchase_date = purchase_date;
    this.doSomething = function() {
      console.log('hayyy');
    }
  }
</script>





