<h2>Create a New Item</h2>

<% if @item.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@item.errors.count, "error") %>
      prohibited this item from being saved:
    </h2>

    <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<p>
  <%= form_for([@collection, @item], :url => collection_items_path) do |f| %>

  <%= render partial: 'form', :locals => {:f => f} %>
    
  <%= f.submit "Create Item", :class => "btn btn-default btn-med" %>
  <% end %>
</p>

<div>
  <h2 id="itemName"></h2>
  <p id="itemBody"></p>
</div>

<p>
  <%= link_to 'Cancel', collections_path %>
</p>


<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      event.preventDefault();
      var values = $(this).serialize();
      // var posting = $.post('/items', values); //from lesson. why not work?
      var posting = $.post(this["action"], values);
      posting.done(function(data) {
        var item = data["brand"] + " " + data["name"]
        debugger;

        $("#itemName").text(item);
        $("#itemBody").text(item["description"]);
      });
    });
  });
</script>





